# OpenAI
OPENAI_API_KEY=""
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_LLM_MODEL="gpt-5-mini"

# Chroma (if running as service)
CHROMA_HOST="localhost"
CHROMA_PORT=8001

# App
APP_HOST=0.0.0.0
APP_PORT=8000

# Other
LOG_LEVEL="info"
